<div id="container">
    <h1 style="text-align: center;">All Courses</h1>
  
    <table class="table table-striped table-bordered" style="border: 1px solid #000;">
      <thead class="table-primary">
        <tr>
          <th scope="col" style="text-align: center;">Name</th>
          <th scope="col" style="text-align: center;">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of Courses">
          <td>{{ course.name }}</td>
          <td>{{ course.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  