#container{
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    form {
        width: 500px;
    }
}